<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gradient.Runtime" version="0.4.3" targetFramework="net471" />
  <package id="IndexRange" version="1.0.0" targetFramework="net471" />
  <package id="LostTech.NumPy" version="0.2.1" targetFramework="net471" />
  <package id="LostTech.Python.Runtime" version="3.0.2" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net471" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net471" />
  <package id="Nito.Comparers.Core" version="6.0.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net471" />
  <package id="WhichPython" version="0.3.1" targetFramework="net471" />
</packages>